/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gloock&family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Shippori+Antique&family=Unbounded:wght@200..900&display=swap');

.dm-sans-light {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.dm-sans-regular {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-medium {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-sans-medium-italic {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

.dm-sans-semibold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.gloock-regular {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
}

.shippori-antique-regular {
    font-family: "Shippori Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.unbounded-regular {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.unbounded-extrabold {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.outfit-light {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit-medium {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.outfit-black {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.jost-regular {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  
/* DEFAULT DARK MODE */

.dark {
    background-color: rgb(16, 16, 16);
    color: #ddd;
}

/* NAV BAR */

#navBar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

ul {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    text-transform: capitalize;
    width: 80px;
    padding-bottom: 10px;
    margin-right: 5px;
    color: #ccc;
    border-bottom: 2px solid #333;
    font-size: 15px;
    cursor: pointer;
    transition: all 1s;
    text-align: center;
}

.active {
    color: #fff;
    border-bottom: 2px solid #fff;
    line-height: 20px;
    font-size: 16px;
}

/* Phone Media Query */

@media screen and (max-width: 768px) {
    .dark {
        background-color: #ccc;
        color: rgb(16, 16, 16);
    }
   
    li {
        text-transform: capitalize;
        width: 80px;
        padding-bottom: 10px;
        margin-right: 5px;
        border-bottom: 2px solid rgb(16, 16, 16, 0.2);
        font-size: 15px;
        cursor: pointer;
        transition: all 1s;
        text-align: center;
    }
 
    li a {
        color: rgb(69, 68, 68);
    }
   
    .active {
        color: black;
        border-bottom: 2px solid rgb(16, 16, 16);
        line-height: 20px;
        font-size: 16px;
    }
   
 }
 