/* Hero Jumbotron */

div.hero {
    padding-top: 55px;
    width: 100vw; 
    max-height: 50vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}

.hero article {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 15px; 
    left: 5;
    width: 50%;
    padding: 0 2%;
    color: white;
}

.hero h1,
.hero p {
    margin: 0;
    padding: 0;
}

.hero h1 {
    font-size: 35px;
}

.hero p {
    font-size: 15px;
}

/* 3 Main Images For Directory */

.main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.polaroid {
    width: 30%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.polaroid img {
    margin-top: 10px;
    width: 90%; 
    height: auto;
    border: 15px solid black;
    border-bottom-width: 60px;
    max-height: 500px;
}

.polaroid p {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 19px;
    font-size: 1rem;
    width: 280px;
    text-align: center;
}

.polaroid a {
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 400px;
    transition: all 0.2s ease-in-out;
}

.polaroid:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

/* Sections */

#cities,
#nature,
#portraits {
    font-size: 150px;
    margin: 0;
    padding: 0;
}

.vertical,
.horizontal {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.vertical img {
    width: 25%;
    height: auto;
    padding: 0 2px 2px 0;
}

.horizontal img {
    width: 50%;
    height: auto;
    padding: 0 3px 3px 0;
}

/* Tablet Media Query */

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* Phone Media Query  */

@media screen and (max-width: 768px) {
    .hero article {
        width: 70%;
    }

    #cities,
    #nature,
    #portraits {
        font-size: 100px;
    }

    .polaroid img {
        max-height: 250px;
    }

    .vertical img {
        width: 50%;
        padding: 0;
    }
    
    .horizontal img {
        width: 100%;
        padding: 0;
    }
   
}