/* Header */

h1 {
    text-align: center;
    font-size: 100px;
    padding-top: 55px;
}

/* Projects */

.project_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    width: 30%;
    overflow: hidden;
    margin: 24px auto;
    background-color: rgb(149, 134, 245);
    border-radius: 1rem;
}

.portfolio {
    height: 393px;
}

.ignite {
    height: 440px;
}

.music {
    height: 525px;
}

.hackmit {
    height: 282px;
}

.guitar {
    height: 540px;
}

.arch {
    height: 573px;
}

.info {
    margin-top: 30px;
    width: 50%;
    background-color: rgb(149, 134, 245);
    border-radius: 0.25rem; 
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(149, 134, 245);
    border-radius: 1rem;
    opacity: 0;
    background-color: rgba(255, 255, 255);
    transition: all 0.2s ease-in;
}

.mask h3 {
    margin: 0;
}

.card:hover .mask {
    opacity: 1
}

.card .mask h2,
.card .mask p,
.card .mask a {
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s ease-out;
}

.card:hover .mask h2,
.card:hover .mask p,
.card:hover .mask a {
    opacity: 1;
    transform: scale(1);
} 

span {
    padding-left: 15px;
}