/* Hero Jumbotron */

div.hero {
    padding-top: 55px;
    width: 100vw; 
    max-height: 50vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}

/* Project Intro Description */
.project_page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    width: 20%;
    background-color: rgb(149, 134, 245);
    color: white;
    border-radius: 0.25rem;
    padding: 10px 0 10px 0;
}

.desc {
    width: 70%;
    background-color: white;
    color: rgb(149, 134, 245);
    border-radius: 0.25rem;
    padding: 10px 0 10px 5px;
    border: 2px solid rgb(149, 134, 245);
}

.title h4,
.title h2,
.desc h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.title h2 {
    padding-top: 10px;
}

.desc p {
    padding: 0 20px;
    color: black;
    text-align: justify;
}

/* Subdivisions of Project Progress */

.project_page_sub {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.image_div {
    width: 40%;
}

.more {
    width: 40%;
}

.more h2 {
    color: rgb(149, 134, 245);
    text-align: center;
}
